html
  head
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.10.2.min.js')
    script.
      var gridToRender = false;
    script(src='/js/PixelPainter.js')
    link(href='/css/PixelPainter.css', rel='stylesheet', media='screen')
  body
    h1 Pixel Painter
    #controls  
      button#save save
      a(href="/")
        button#load load
    #artboard